/* ---------- 默认按钮 ---------- */

.btn .icon {
    margin-right: 3px;
}

.btn {
    color: #606266;
    border: 1px solid #dcdfe6;
    background-color: #fff;
    line-height: 1;
    white-space: nowrap;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    color: #409eff;
    border-color: #c6e2ff;
    background-color: #ecf5ff;
}

.btn_blue {
    color: #fff;
    border-color: #409eff;
    background-color: #409eff;
}

.btn_blue:hover {
    color: #fff;
    border-color: #66b1ff;
    background-color: #66b1ff;
}

.btn_green {
    color: #fff;
    border-color: #67c23a;
    background-color: #67c23a;
}

.btn_green:hover {
    color: #fff;
    border-color: #85ce61;
    background-color: #85ce61;
}

.btn_grey {
    color: #fff;
    border-color: #909399;
    background-color: #909399;
}

.btn_grey:hover {
    color: #fff;
    border-color: #a6a9ad;
    background-color: #a6a9ad;
}

.btn_orange {
    color: #fff;
    border-color: #e6a23c;
    background-color: #e6a23c;
}

.btn_orange:hover {
    color: #fff;
    border-color: #ebb563;
    background-color: #ebb563;
}

.btn_red {
    color: #fff;
    border-color: #f56c6c;
    background-color: #f56c6c;
}

.btn_red:hover {
    color: #fff;
    border-color: #f78989;
    background-color: #f78989;
}


/* ---------- 边框按钮 ---------- */

.btn.is_plain:hover {
    color: #409eff;
    border-color: #409eff;
    background-color: #fff;
}

.btn_blue.is_plain {
    color: #409eff;
    border-color: #b3d8ff;
    background-color: #ecf5ff;
}

.btn_blue.is_plain:hover {
    color: #fff;
    border-color: #409eff;
    background-color: #409eff;
}

.btn_green.is_plain {
    color: #67c23a;
    border-color: #c2e7b0;
    background-color: #f0f9eb;
}

.btn_green.is_plain:hover {
    color: #fff;
    border-color: #67c23a;
    background-color: #67c23a;
}

.btn_grey.is_plain {
    color: #909399;
    background-color: #f4f4f5;
    border-color: #d3d4d6;
}

.btn_grey.is_plain:hover {
    color: #fff;
    border-color: #909399;
    background-color: #909399;
}

.btn_orange.is_plain {
    color: #e6a23c;
    background-color: #fdf6ec;
    border-color: #f5dab1;
}

.btn_orange.is_plain:hover {
    color: #fff;
    border-color: #e6a23c;
    background-color: #e6a23c;
}

.btn_red.is_plain {
    color: #f56c6c;
    background-color: #fef0f0;
    border-color: #fbc4c4;
}

.btn_red.is_plain:hover {
    color: #fff;
    border-color: #f56c6c;
    background-color: #f56c6c;
}


/* ---------- 不同尺寸按钮 ---------- */

.btn.medium {
    padding: 10px 20px;
}

.btn.small {
    padding: 9px 15px;
    font-size: 12px;
    border-radius: 3px;
}

.btn.mini {
    padding: 7px 15px;
    font-size: 12px;
    border-radius: 3px;
}


/* ---------- 圆角按钮 ---------- */

.btn.is_round {
    border-radius: 20px;
}


/* ---------- 图标按钮 ---------- */

.btn.is_circle .icon {
    margin-right: 0px;
}

.btn.is_circle {
    padding: 12px;
    border-radius: 50%;
}

.btn.is_circle.medium {
    padding: 10px;
}

.btn.is_circle.small {
    padding: 9px;
    font-size: 10px;
}

.btn.is_circle.mini {
    padding: 7px;
    font-size: 10px;
}


/* ---------- 禁用按钮-默认按钮 ---------- */

.btn:disabled {
    color: #c0c4cc;
    border-color: #ebeef5;
    background-color: #fff;
    background-image: none;
    cursor: not-allowed;
}

.btn_blue:disabled {
    color: #fff;
    border-color: #a0cfff;
    background-color: #a0cfff;
}

.btn_green:disabled {
    color: #fff;
    border-color: #b3e19d;
    background-color: #b3e19d;
}

.btn_grey:disabled {
    color: #fff;
    border-color: #c8c9cc;
    background-color: #c8c9cc;
}

.btn_orange:disabled {
    color: #fff;
    background-color: #f3d19e;
    border-color: #f3d19e;
}

.btn_red:disabled {
    color: #fff;
    background-color: #fab6b6;
    border-color: #fab6b6;
}


/* ---------- 禁用按钮-边框按钮 ---------- */

.btn.is_plain:disabled {
    background-color: #fff;
    border-color: #ebeef5;
    color: #c0c4cc;
}

.btn_blue.is_plain:disabled {
    color: #8cc5ff;
    background-color: #ecf5ff;
    border-color: #d9ecff;
}

.btn_green.is_plain:disabled {
    color: #a4da89;
    background-color: #f0f9eb;
    border-color: #e1f3d8;
}

.btn_grey.is_plain:disabled {
    color: #bcbec2;
    background-color: #f4f4f5;
    border-color: #e9e9eb;
}

.btn_orange.is_plain:disabled {
    color: #f0c78a;
    background-color: #fdf6ec;
    border-color: #faecd8;
}

.btn_red.is_plain:disabled {
    color: #f9a7a7;
    background-color: #fef0f0;
    border-color: #fde2e2;
}


/* ---------- 文字按钮 ---------- */

.btn_text {
    color: #409EFF;
    background-color: transparent;
    border: none;
}

.btn_text:hover {
    background: transparent;
}