/* ---------- 默认按钮 ---------- */

.bms_btn .bms_btn_icon {
    margin-right: 3px;
}

.bms_btn {
    color: #606266;
    border: 1px solid #dcdfe6;
    background-color: #fff;
    line-height: 1;
    white-space: nowrap;
    text-align: center;
    box-sizing: border-box;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.bms_btn:hover {
    color: #409eff;
    border-color: #c6e2ff;
    background-color: #ecf5ff;
}

.bms_btn_primary {
    color: #fff;
    border-color: #409eff;
    background-color: #409eff;
}

.bms_btn_primary:hover {
    color: #fff;
    border-color: #66b1ff;
    background-color: #66b1ff;
}

.bms_btn_success {
    color: #fff;
    border-color: #67c23a;
    background-color: #67c23a;
}

.bms_btn_success:hover {
    color: #fff;
    border-color: #85ce61;
    background-color: #85ce61;
}

.bms_btn_info {
    color: #fff;
    border-color: #909399;
    background-color: #909399;
}

.bms_btn_info:hover {
    color: #fff;
    border-color: #a6a9ad;
    background-color: #a6a9ad;
}

.bms_btn_warning {
    color: #fff;
    border-color: #e6a23c;
    background-color: #e6a23c;
}

.bms_btn_warning:hover {
    color: #fff;
    border-color: #ebb563;
    background-color: #ebb563;
}

.bms_btn_danger {
    color: #fff;
    border-color: #f56c6c;
    background-color: #f56c6c;
}

.bms_btn_danger:hover {
    color: #fff;
    border-color: #f78989;
    background-color: #f78989;
}

.bms_btn_link {
    color: #409EFF;
    border: none;
    background-color: transparent;
}

.bms_btn_link:hover {
    color: #0056b3;
    background: transparent;
    text-decoration: underline;
}


/* ---------- 边框按钮 ---------- */

.bms_btn.bms_btn_plain:hover {
    color: #409eff;
    border-color: #409eff;
    background-color: transparent;
}

.bms_btn_primary.bms_btn_plain {
    color: #409eff;
    border-color: #b3d8ff;
    background-color: #ecf5ff;
}

.bms_btn_primary.bms_btn_plain:hover {
    color: #fff;
    border-color: #409eff;
    background-color: #409eff;
}

.bms_btn_success.bms_btn_plain {
    color: #67c23a;
    border-color: #c2e7b0;
    background-color: #f0f9eb;
}

.bms_btn_success.bms_btn_plain:hover {
    color: #fff;
    border-color: #67c23a;
    background-color: #67c23a;
}

.bms_btn_info.bms_btn_plain {
    color: #909399;
    background-color: #f4f4f5;
    border-color: #d3d4d6;
}

.bms_btn_info.bms_btn_plain:hover {
    color: #fff;
    border-color: #909399;
    background-color: #909399;
}

.bms_btn_warning.bms_btn_plain {
    color: #e6a23c;
    background-color: #fdf6ec;
    border-color: #f5dab1;
}

.bms_btn_warning.bms_btn_plain:hover {
    color: #fff;
    border-color: #e6a23c;
    background-color: #e6a23c;
}

.bms_btn_danger.bms_btn_plain {
    color: #f56c6c;
    background-color: #fef0f0;
    border-color: #fbc4c4;
}

.bms_btn_danger.bms_btn_plain:hover {
    color: #fff;
    border-color: #f56c6c;
    background-color: #f56c6c;
}


/* ---------- 虚线按钮 ---------- */

.bms_btn.bms_btn_dashed {
    border-style: dashed;
}

.bms_btn.bms_btn_dashed:hover {
    border-style: dashed;
}


/* ---------- 不同尺寸按钮 ---------- */

.bms_btn.bms_btn_lg {
    padding: 12px 20px;
}

.bms_btn.bms_btn_sm {
    padding: 9px 15px;
    font-size: 12px;
    border-radius: 3px;
}

.bms_btn.bms_btn_xs {
    padding: 7px 15px;
    font-size: 12px;
    border-radius: 3px;
}

.bms_btn.bms_btn_block {
    display: block;
    width: 100%;
}


/* ---------- 圆角按钮 ---------- */

.bms_btn.bms_btn_round {
    border-radius: 20px;
}


/* ---------- 图标按钮 ---------- */

.bms_btn.bms_btn_circle .bms_btn_icon {
    margin-right: 0px;
}

.bms_btn.bms_btn_circle {
    padding: 10px;
    border-radius: 50%;
}

.bms_btn.bms_btn_circle.bms_btn_lg {
    padding: 12px;
}

.bms_btn.bms_btn_circle.bms_btn_sm {
    padding: 9px;
    font-size: 10px;
}

.bms_btn.bms_btn_circle.bms_btn_xs {
    padding: 7px;
    font-size: 10px;
}


/* ---------- 禁用按钮-默认按钮 ---------- */

.bms_btn:disabled {
    color: #c0c4cc;
    border-color: #ebeef5;
    background-color: #fff;
    background-image: none;
    cursor: not-allowed;
}

.bms_btn_primary:disabled {
    color: #fff;
    border-color: #a0cfff;
    background-color: #a0cfff;
}

.bms_btn_success:disabled {
    color: #fff;
    border-color: #b3e19d;
    background-color: #b3e19d;
}

.bms_btn_info:disabled {
    color: #fff;
    border-color: #c8c9cc;
    background-color: #c8c9cc;
}

.bms_btn_warning:disabled {
    color: #fff;
    background-color: #f3d19e;
    border-color: #f3d19e;
}

.bms_btn_danger:disabled {
    color: #fff;
    background-color: #fab6b6;
    border-color: #fab6b6;
}


/* ---------- 禁用按钮-边框按钮 ---------- */

.bms_btn.bms_btn_plain:disabled {
    background-color: #fff;
    border-color: #ebeef5;
    color: #c0c4cc;
}

.bms_btn_primary.bms_btn_plain:disabled {
    color: #8cc5ff;
    background-color: #ecf5ff;
    border-color: #d9ecff;
}

.bms_btn_success.bms_btn_plain:disabled {
    color: #a4da89;
    background-color: #f0f9eb;
    border-color: #e1f3d8;
}

.bms_btn_info.bms_btn_plain:disabled {
    color: #bcbec2;
    background-color: #f4f4f5;
    border-color: #e9e9eb;
}

.bms_btn_warning.bms_btn_plain:disabled {
    color: #f0c78a;
    background-color: #fdf6ec;
    border-color: #faecd8;
}

.bms_btn_danger.bms_btn_plain:disabled {
    color: #f9a7a7;
    background-color: #fef0f0;
    border-color: #fde2e2;
}


/* ---------- 默认表单 ---------- */

.bms_form_item {
    margin: 20px 0;
}


/* ---------- 左侧lable ---------- */

.form_lable {
    display: block;
    width: 100%;
    text-align: right;
    line-height: 36px;
}

.form_lable.required::before {
    content: '* ';
    color: #f00;
}


/* ---------- 多选框 ---------- */

.bms_form_item .ms-choice {
    position: relative;
    height: 38px;
    line-height: 38px;
    border: 1px solid #dcdfe6;
}

.bms_form_item .ms-choice>span {
    padding: 0 15px;
}

.bms_form_item .ms-choice>div.icon-close {
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.bms_form_item .ms-choice>div.icon-close:before {
    margin: 0;
    top: 0;
}

.bms_form_item .ms-drop ul>li.hide-radio.selected {
    background-color: #409eff;
}


/* ---------- 提示 ---------- */

.form_tips {
    line-height: 36px;
    color: #999;
}


/* ---------- 输入框 ---------- */

.form_input {
    display: block;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    height: 36px;
    line-height: 36px;
}


/* ---------- 单选框 ---------- */

.form_radio_wrap,
.form_checkbox_wrap {
    height: 36px;
    line-height: 36px;
    align-items: center;
}

.form_radio_wrap input {
    cursor: pointer;
}

.form_radio_wrap label {
    cursor: pointer;
    padding-left: 5px;
}

.form_radio_wrap input:disabled+label {
    cursor: not-allowed;
    color: #999;
}


/* ---------- 多选框 ---------- */

.form_checkbox_wrap {
    position: relative;
    display: inline-block;
}

.form_checkbox_wrap input[type='checkbox'] {
    display: none;
}

.form_checkbox_wrap label {
    position: relative;
    padding-left: 18px;
    cursor: pointer;
}

.form_checkbox_wrap label:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 11px;
    height: 11px;
    border: 1px solid #767676;
    border-radius: 4px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    cursor: pointer;
}

.form_checkbox_wrap label:after {
    content: '';
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 4px;
    height: 9px;
    border: 0;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background-color: #fff;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.form_checkbox_wrap input[type='checkbox']:checked+label:before {
    background: #409eff;
    border-color: #409eff;
}

.form_checkbox_wrap input[type='checkbox']:checked+label:after {
    background: #409eff;
}

.form_checkbox_wrap input[type='checkbox']:disabled+label {
    color: #999;
    cursor: not-allowed;
}

.form_checkbox_wrap input[type='checkbox']:disabled+label:before {
    border-color: #D1D1D1;
    background-color: #F8F8F8;
}

.form_checkbox_wrap input[type='checkbox']:disabled+label:after {
    background-color: #F8F8F8;
}


/* ---------- 开关 ---------- */

.form_switch_wrap {
    position: relative;
    height: 100%;
}

.form_switch_wrap input[type='checkbox'] {
    display: none;
}

.form_switch_wrap label {
    position: absolute;
    width: 50px;
    height: 22px!important;
    line-height: 22px!important;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    border-radius: 30px;
    border: 1px solid #dcdfe6;
    box-sizing: border-box;
    background-color: #fff;
    cursor: pointer;
}

.form_switch_wrap label::before {
    content: '';
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 17px;
    height: 17px;
    background-color: #d2d2d2;
    border-radius: 50%;
}

.form_switch_wrap input[type='checkbox']:checked+label {
    background-color: #409eff;
    border: none;
}

.form_switch_wrap input[type='checkbox']:checked+label:before {
    left: 25px;
    background-color: #fff;
}

.form_switch_wrap input[type='checkbox']:disabled+label {
    cursor: not-allowed;
}

.form_switch_wrap input[type='checkbox']:disabled+label:before {
    border-color: #D1D1D1;
    background-color: #F8F8F8;
}


/* ---------- 文本输入框 ---------- */

.form_textarea {
    display: block;
    width: 100%;
    height: 100px;
}


/* ---------- 禁用 ---------- */

input:disabled {
    background-color: #f4f4f4;
    border-color: #dcdfe6;
    color: #999;
    cursor: not-allowed;
}

select:disabled,
.ms-choice.disabled,
.ms-drop ul>li .disabled {
    cursor: not-allowed;
}


/* ---------- 不同尺寸表单 ---------- */

.bms_form_item.bms_form_item_lg .form_lable,
.bms_form_item.bms_form_item_lg .form_input,
.bms_form_item.bms_form_item_lg .ms-choice,
.bms_form_item.bms_form_item_lg .form_tips {
    height: 40px;
    line-height: 40px;
}

.bms_form_item.bms_form_item_sm .form_lable,
.bms_form_item.bms_form_item_sm .form_input,
.bms_form_item.bms_form_item_sm .ms-choice,
.bms_form_item.bms_form_item_sm .form_tips {
    height: 32px;
    line-height: 32px;
}

.bms_form_item.bms_form_item_xs .form_lable,
.bms_form_item.bms_form_item_xs .form_input,
.bms_form_item.bms_form_item_xs .ms-choice,
.bms_form_item.bms_form_item_xs .form_tips {
    height: 28px;
    line-height: 28px;
}


/* ---------- 提示 ---------- */

.bms_form_item .required_info {
    color: #f00;
    margin-top: 3px;
    display: none;
}