@charset "utf-8";

/* ---------- 头部 ---------- */

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    z-index: 900;
    display: flex;
    background-color: #409eff;
}

.header_logo {
    width: 224px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 0 6px rgba(0, 21, 41, .15);
}

.header_logo a {
    color: #fff;
}

.header_bar {
    display: flex;
    flex: auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header_bar .icon {
    color: #fff;
    font-size: 18px;
}

.header_menus {
    display: flex;
    height: 64px;
}

.header_menus>li {
    margin: 0 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
}

.header_menus>li img {
    width: 24px;
    border-radius: 50%;
}

.header_menus>li span {
    vertical-align: super;
    color: #fff;
}

.header_menus li .fa-cog {
    font-size: 20px;
}

.header_menus .dropdown_hide {
    border-radius: 4px;
    right: 0;
}

.header_menus .dropdown_hide li {
    padding: 0 15px;
    box-sizing: border-box;
    line-height: 35px;
    font-size: 14px;
}

.logo_hide {
    display: none;
}


/* ---------- 左侧导航 ---------- */

#nav {
    position: fixed;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    width: 224px;
    height: 100%;
    z-index: 800;
    box-shadow: 2px 0 6px rgba(0, 21, 41, .15);
    font-size: 14px;
    background-color: #fff;
}

#nav .swiper-container {
    height: 100%;
    overflow: inherit;
}

#nav .nav_wraper.swiper-slide {
    box-sizing: border-box;
    height: auto;
    z-index: 800;
}

#nav .nav_item {
    position: relative;
    z-index: 800;
}

#nav .nav_item div {
    position: relative;
    padding: 16px;
    box-sizing: border-box;
}

#nav .nav_item a {
    display: flex;
    align-items: center;
}

#nav .nav_item a .icon:first-of-type {
    margin-right: 5px;
}

#nav .nav_item span.icon {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
}

#nav .nav_sub_wrapper {
    position: static;
    display: none;
}

#nav .nav_item:hover>div {
    background-color: #409eff;
}

#nav .nav_item:hover>div>a {
    color: #fff;
}

#nav .nav_active {
    background-color: #409eff!important;
}

#nav .nav_active>div>a {
    color: #fff!important;
}

#nav.horizontal {
    width: 60px;
}

#nav.horizontal .nav_item div {
    white-space: nowrap;
    padding: 12px 0;
}

#nav.horizontal .nav_item span.icon {
    right: 10px;
}

#nav.horizontal .nav_sub_wrapper {
    position: absolute;
    top: 0;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}

#nav.horizontal .nav_sub_wrapper div {
    padding: 12px 16px;
}

#nav.horizontal .nav_wraper>.nav_item>div span {
    display: none;
}

#nav.horizontal .nav_wraper>.nav_item>div a {
    justify-content: center;
    margin-right: 0;
    padding: 8px 0!important;
}

#nav.horizontal .nav_wraper>.nav_item>div a .icon:first-of-type {
    margin: 0;
}


/* ---------- 左侧导航 ---------- */


/* ---------- 右侧侧边栏 ---------- */

#sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 224px;
    height: 100%;
    z-index: 1000;
    display: none;
}


/* ---------- 右侧侧边栏 ---------- */


/* ---------- 内容 ---------- */

#content {
    position: relative;
    box-sizing: border-box;
    background-color: #fff;
    padding: 20px;
}


/* ---------- 内容 ---------- */


/* ---------- tab ---------- */

#tabs {
    position: fixed;
    top: 64px;
    right: 0;
    height: 40px;
    display: flex;
    font-size: 14px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    flex: auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: #fff;
}

#tabs .swiper-container {
    width: 100%;
    height: 36px;
    margin: 0;
}

#tabs .swiper-slide {
    width: auto;
    height: 36px;
    line-height: 36px;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 1px;
    cursor: pointer;
}

#tabs .swiper-slide .icon {
    position: absolute;
    top: 20%;
    right: 0px;
    color: #ddd;
    cursor: pointer;
    display: none;
}

#tabs .swiper-slide:hover a {
    color: #1890ff;
}

#tabs .swiper-slide:hover .icon {
    display: inline-block;
}

#tabs .swiper-slide .icon:hover {
    color: #333;
}

#tabs .swiper-slide a {
    color: #ccc;
    font-size: 13px;
    white-space: nowrap;
}

#tabs .swiper-slide.tab_active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2.5px;
    left: 0;
    bottom: 3px;
    background-color: #409eff;
}

#tabs .swiper-slide.tab_active a {
    color: #1890ff;
}

#tabs .swiper-slide.tab_active i {
    display: inline-block;
}

#tabs .dropdown_wrapper .dropdown_hide {
    width: 100%;
}

#tabs .dropdown_wrapper .dropdown_hide li {
    font-size: 12px;
    line-height: 30px;
    text-align: center;
}


/* ---------- tab ---------- */


/* ---------- 底部 ---------- */

#footer {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 900;
    background-color: #fff;
    box-shadow: 2px 0 6px rgba(0, 21, 41, .15);
}

#footer .copyright {
    color: #ddd;
    font-size: 12px;
    text-align: center;
    line-height: 30px;
}


/* ---------- 底部 ---------- */