<body>
    <fieldset>
        <legend><a name="use">用法</a></legend>
    </fieldset>
    <div>
        <xmp>
            dfdf
        </xmp>
        <code>
        <div>df</div>
    </code>
    </div>
    <button class="btn">
        <span>default</span>
    </button>
    <table>
        <tr>
            <td></td>
        </tr>
    </table>

    <!-- <div class="buttons_wrap">
        <dl>
            <dt>默认按钮</dt>
            <dd>
                <button class="btn">
                    <span>default</span>
                </button>
                <button class="btn btn_primary">
                    <span>primary</span>
                </button>
                <button class="btn btn_success">
                    <span>success</span>
                </button>
                <button class="btn btn_info">
                    <span>info</span>
                </button>
                <button class="btn btn_warning">
                    <span>warning</span>
                </button>
                <button class="btn btn_danger">
                    <span>danger</span>
                </button>
            </dd>
        </dl>
        <dl>
            <dt>边框按钮</dt>
            <dd>
                <button class="btn is_plain">
                    <span>default</span>
                </button>
                <button class="btn btn_primary is_plain">
                    <span>primary</span>
                </button>
                <button class="btn btn_success is_plain">
                    <span>success</span>
                </button>
                <button class="btn btn_info is_plain">
                    <span>info</span>
                </button>
                <button class="btn btn_warning is_plain">
                    <span>warning</span>
                </button>
                <button class="btn btn_danger is_plain">
                    <span>danger</span>
                </button>
            </dd>
        </dl>
        <dl>
            <dt>不同尺寸按钮</dt>
            <dd>
                <button class="btn">
                    <span>default</span>
                </button>
                <button class="btn medium">
                    <span>medium</span>
                </button>
                <button class="btn small">
                    <span>small</span>
                </button>
                <button class="btn mini">
                    <span>mini</span>
                </button>
            </dd>
            <dd>
                <button class="btn is_circle">
                    <i class="icon fa fa-search" aria-hidden="true"></i>
                </button>
                <button class="btn is_circle medium">
                    <i class="icon fa fa-search" aria-hidden="true"></i>
                </button>
                <button class="btn is_circle small">
                    <i class="icon fa fa-search" aria-hidden="true"></i>
                </button>
                <button class="btn is_circle mini">
                    <i class="icon fa fa-search" aria-hidden="true"></i>
                </button>
            </dd>
        </dl>
        <dl>
            <dt>圆角按钮</dt>
            <dd>
                <button class="btn is_round">
                    <span>default</span>
                </button>
                <button class="btn btn_primary is_round">
                    <span>primary</span>
                </button>
                <button class="btn btn_success is_round">
                    <span>success</span>
                </button>
                <button class="btn btn_info is_round">
                    <span>info</span>
                </button>
                <button class="btn btn_warning is_round">
                    <span>warning</span>
                </button>
                <button class="btn btn_danger is_round">
                    <span>danger</span>
                </button>
            </dd>
        </dl>
        <dl>
            <dt>图标按钮</dt>
            <dd>
                <button class="btn is_circle">
                    <i class="icon fa fa-search" aria-hidden="true"></i>
                    <span>default</span>
                </button>
                <button class="btn btn_primary is_circle">
                    <i class="icon fa fa-search" aria-hidden="true"></i>
                </button>
                <button class="btn btn_success is_circle">
                    <i class="icon fa fa-search" aria-hidden="true"></i>
                </button>
                <button class="btn btn_info is_circle">
                    <i class="icon fa fa-search" aria-hidden="true"></i>
                </button>
                <button class="btn btn_warning is_circle">
                    <i class="icon fa fa-search" aria-hidden="true"></i>
                </button>
                <button class="btn btn_danger is_circle">
                    <i class="icon fa fa-search" aria-hidden="true"></i>
                </button>
            </dd>
            <dd>
                <button class="btn">
                    <i class="icon fa fa-search" aria-hidden="true"></i>
                </button>
                <button class="btn btn_primary">
                    <i class="icon fa fa-search" aria-hidden="true"></i>
                </button>
                <button class="btn btn_success">
                    <i class="icon fa fa-search" aria-hidden="true"></i>
                </button>
                <button class="btn btn_info">
                    <i class="icon fa fa-search" aria-hidden="true"></i>
                </button>
                <button class="btn btn_warning">
                    <i class="icon fa fa-search" aria-hidden="true"></i>
                </button>
                <button class="btn btn_danger">
                    <i class="icon fa fa-search" aria-hidden="true"></i>
                </button>
            </dd>
        </dl>
        <dl>
            <dt>禁用按钮</dt>
            <dd>
                <button class="btn" disabled>
                    <span>default</span>
                </button>
                <button class="btn btn_primary" disabled>
                    <span>primary</span>
                </button>
                <button class="btn btn_success" disabled>
                    <span>success</span>
                </button>
                <button class="btn btn_info" disabled>
                    <span>info</span>
                </button>
                <button class="btn btn_warning" disabled>
                    <span>warning</span>
                </button>
                <button class="btn btn_danger" disabled>
                    <span>danger</span>
                </button>
            </dd>
            <dd>
                <button class="btn is_plain" disabled>
                    <span>default</span>
                </button>
                <button class="btn btn_primary is_plain" disabled>
                    <span>primary</span>
                </button>
                <button class="btn btn_success is_plain" disabled>
                    <span>success</span>
                </button>
                <button class="btn btn_info is_plain" disabled>
                    <span>info</span>
                </button>
                <button class="btn btn_warning is_plain" disabled>
                    <span>warning</span>
                </button>
                <button class="btn btn_danger is_plain" disabled>
                    <span>danger</span>
                </button>
            </dd>
        </dl>
    </div> -->
</body>