<body>
    <div class="wrap">
        <div class="code_block">
            <fieldset>
                <legend>用法</legend>
            </fieldset>
            <xmp>
                <button type="button" class="bms_btn">
                    <span>default</span>
                </button>
            </xmp>
        </div>
    </div>
    <div class="tab_wrapper">
        <div class="swiper-container tab_title_wrapper">
            <div class="swiper-wrapper">
                <div class="swiper-slide tab_item">
                    普通时间选择器
                </div>
                <div class="swiper-slide tab_item">
                    范围时间选择器
                </div>
            </div>
        </div>
        <div class="swiper-container tab_main_wrapper">
            <div class="swiper-wrapper">
                <div class="swiper-slide tab_item">
                    <div class="code_block">
                        <div class="bms_row bms_form_item bms_row_space20">
                            <div class="bms_col bms_col2">
                                <label class="form_lable">时间选择框</label>
                            </div>
                            <div class="bms_col bms_col2 c-datepicker-date-editor datepicker datepicker_time">
                                <i class="kxiconfont icon-clock"></i>
                                <input type="text" autocomplete="off" name="" placeholder="选择时间" class="form_input" value="">
                            </div>
                        </div>
                        <div class="bms_row bms_form_item bms_row_space20">
                            <div class="bms_col bms_col2">
                                <label class="form_lable">年选择框</label>
                            </div>
                            <div class="bms_col bms_col2 c-datepicker-date-editor datepicker datepicker_year">
                                <i class="kxiconfont icon-clock"></i>
                                <input type="text" autocomplete="off" name="" placeholder="选择年份" class="form_input" value="">
                            </div>
                        </div>
                        <div class="bms_row bms_form_item bms_row_space20">
                            <div class="bms_col bms_col2">
                                <label class="form_lable">年月选择框</label>
                            </div>
                            <div class="bms_col bms_col2 c-datepicker-date-editor datepicker datepicker_yearmonth">
                                <i class="kxiconfont icon-clock"></i>
                                <input type="text" autocomplete="off" name="" placeholder="选择年月" class="form_input" value="">
                            </div>
                        </div>
                        <div class="bms_row bms_form_item bms_row_space20">
                            <div class="bms_col bms_col2">
                                <label class="form_lable">年月日选择框</label>
                            </div>
                            <div class="bms_col bms_col2 c-datepicker-date-editor datepicker datepicker_yearmonthday">
                                <i class="kxiconfont icon-clock"></i>
                                <input type="text" autocomplete="off" name="" placeholder="选择日期" class="form_input" value="">
                            </div>
                        </div>

                        <div class="bms_row bms_form_item bms_row_space20">
                            <div class="bms_col bms_col2">
                                <label class="form_lable">年月日时间选择框</label>
                            </div>
                            <div class="bms_col bms_col2 c-datepicker-date-editor datepicker datepicker_yearmonthdaytime">
                                <i class="kxiconfont icon-clock"></i>
                                <input type="text" autocomplete="off" name="" placeholder="选择日期" class="form_input" value="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide tab_item">
                    <div class="code_block">
                        <div class="bms_row bms_form_item bms_row_space20">
                            <div class="bms_col bms_col2">
                                <label class="form_lable">时间范围选择框</label>
                            </div>
                            <div class="bms_col bms_col2 c-datepicker-date-editor datepicker_range datepicker_time_range">
                                <i class="kxiconfont icon-clock"></i>
                                <input type="text" autocomplete="off" name="" placeholder="开始时间" class="form_input" value="">
                                <span class="c-datepicker-range-separator">-</span>
                                <input type="text" autocomplete="off" name="" placeholder="结束时间" class="form_input" value="">
                            </div>
                        </div>
                        <div class="bms_row bms_form_item bms_row_space20">
                            <div class="bms_col bms_col2">
                                <label class="form_lable">年月日范围选择框</label>
                            </div>
                            <div class="bms_col bms_col2 c-datepicker-date-editor datepicker_range datepicker_yearmonthday_range">
                                <i class="kxiconfont icon-clock"></i>
                                <input type="text" autocomplete="off" name="" placeholder="开始时间" class="form_input" value="">
                                <span class="c-datepicker-range-separator">-</span>
                                <input type="text" autocomplete="off" name="" placeholder="结束时间" class="form_input" value="">
                            </div>
                        </div>
                        <div class="bms_row bms_form_item bms_row_space20">
                            <div class="bms_col bms_col2">
                                <label class="form_lable">年月日时间范围选择框</label>
                            </div>
                            <div class="bms_col bms_col2 c-datepicker-date-editor datepicker_range datepicker_yearmonthdaytime_range">
                                <i class="kxiconfont icon-clock"></i>
                                <input type="text" autocomplete="off" name="" placeholder="开始时间" class="form_input" value="">
                                <span class="c-datepicker-range-separator">-</span>
                                <input type="text" autocomplete="off" name="" placeholder="结束时间" class="form_input" value="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.datepicker_time').datePicker({
            format: 'HH:mm:ss',
        });



        $('.datepicker_year').datePicker({
            format: 'YYYY',
            // min: '2018',
            // max: '2020'
        });



        // $('.J-yearPicker-single').datePicker({
        //     format: 'YYYY',
        //     min: '2018',
        //     max: '2020'
        // });
        //年月单个
        $('.datepicker_yearmonth').datePicker({
            format: 'YYYY-MM',
            // min: '2018-01',
            // max: '2019-04',
            // hide: function (type) {
            //   console.info(this.$input.eq(0).val());
            // }
        });
        $('.datepicker_yearmonthday').datePicker({
            hasShortcut: true,
            format: 'YYYY-MM-DD',
            shortcutOptions: [{
                name: '今天',
                day: '0'
            }, {
                name: '昨天',
                day: '-1'
            }, {
                name: '一周前',
                day: '-7'
            }]
        });



        $('.datepicker_yearmonthdaytime').datePicker({
            hasShortcut: true,
            // min: '2018-01-01 04:00:00',
            // max: '2019-04-29 20:59:59',
            shortcutOptions: [{
                name: '今天',
                day: '0'
            }, {
                name: '昨天',
                day: '-1',
                time: '00:00:00'
            }, {
                name: '一周前',
                day: '-7'
            }],
            // hide: function() {
            //     console.info(this)
            // }
        });


        $('.datepicker_time_range').datePicker({
            format: 'HH:mm:ss',
            isRange: true,
            // min: '04:23:11',
            // max: '20:59:59'
        });
        $('.datepicker_year_range').datePicker({
            format: 'YYYY',
            isRange: false,
            // min: '04:23:11',
            // max: '20:59:59'
        });
        $('.datepicker_yearmonthday_range').datePicker({
            hasShortcut: true,
            format: 'YYYY-MM-DD',
            isRange: true,
            shortcutOptions: [{
                name: '最近一周',
                day: '-7,0'
            }, {
                name: '最近一个月',
                day: '-30,0'
            }, {
                name: '最近三个月',
                day: '-90, 0'
            }]
        });

        $('.datepicker_yearmonthdaytime_range').datePicker({
            isRange: true,
            // between: 30 // 只能选三十天以内
        });
    </script>
</body>