<body>
    <style>
        .bms_col div {
            background: #ecf5ff;
            padding: 10px 0;
        }
        
        .bms_col:nth-of-type(2n) div {
            background: #f0f9eb;
        }
    </style>
    <div class="wrap">
        <div class="code_block">
            <fieldset>
                <legend>栅格</legend>
            </fieldset>
            <div class="bms_row">
                <div class="bms_col bms_col2">
                    <div>bms_col-2</div>
                </div>
                <div class="bms_col bms_col2">
                    <div>bms_col-2</div>
                </div>
                <div class="bms_col bms_col2">
                    <div>bms_col-2</div>
                </div>
                <div class="bms_col bms_col2">
                    <div>bms_col-2</div>
                </div>
                <div class="bms_col bms_col2">
                    <div>bms_col-2</div>
                </div>
                <div class="bms_col bms_col1">
                    <div>bms_col-1</div>
                </div>
                <div class="bms_col bms_col1">
                    <div>bms_col-1</div>
                </div>
            </div>
            <xmp>
                <div class="bms_row">
                    <div class="bms_col bms_col2">
                        <div>bms_col-2</div>
                    </div>
                    <div class="bms_col bms_col2">
                        <div>bms_col-2</div>
                    </div>
                    <div class="bms_col bms_col2">
                        <div>bms_col-2</div>
                    </div>
                    <div class="bms_col bms_col2">
                        <div>bms_col-2</div>
                    </div>
                    <div class="bms_col bms_col2">
                        <div>bms_col-2</div>
                    </div>
                    <div class="bms_col bms_col1">
                        <div>bms_col-1</div>
                    </div>
                    <div class="bms_col bms_col1">
                        <div>bms_col-1</div>
                    </div>
                </div>
            </xmp>
            <div class="bms_row">
                <div class="bms_col bms_col3">
                    <div>bms_col-3</div>
                </div>
                <div class="bms_col bms_col4">
                    <div>bms_col-4</div>
                </div>
                <div class="bms_col bms_col5">
                    <div>bms_col-5</div>
                </div>
            </div>
            <xmp>
                <div class="bms_row">
                    <div class="bms_col bms_col3">
                        <div>bms_col-3</div>
                    </div>
                    <div class="bms_col bms_col4">
                        <div>bms_col-4</div>
                    </div>
                    <div class="bms_col bms_col5">
                        <div>bms_col-5</div>
                    </div>
                </div>
            </xmp>
            <div class="bms_row">
                <div class="bms_col bms_col4">
                    <div>bms_col-4</div>
                </div>
                <div class="bms_col bms_col8">
                    <div>bms_col-8</div>
                </div>
            </div>
            <xmp>
                <div class="bms_row">
                    <div class="bms_col bms_col4">
                        <div>bms_col-4</div>
                    </div>
                    <div class="bms_col bms_col8">
                        <div>bms_col-8</div>
                    </div>
                </div>
            </xmp>
        </div>
        <div class="code_block">
            <fieldset>
                <legend>栅格-列间距</legend>
            </fieldset>
            <div class="bms_row bms_row_space10">
                <div class="bms_col bms_col5">
                    <div>bms_col-5</div>
                </div>
                <div class="bms_col bms_col7">
                    <div>bms_col-7</div>
                </div>
            </div>
            <xmp>
                <div class="bms_row bms_row_space10">
                    <div class="bms_col bms_col5">
                        <div>bms_col-5</div>
                    </div>
                    <div class="bms_col bms_col7">
                        <div>bms_col-7</div>
                    </div>
                </div>
            </xmp>
        </div>
        <div class="code_block">
            <fieldset>
                <legend>栅格-垂直居中</legend>
            </fieldset>
            <div class="bms_row bms_row_aicenter">
                <div class="bms_col bms_col3">
                    <div>bms_col-3</div>
                </div>
                <div class="bms_col bms_col3">
                    <div>bms_col-3</div>
                </div>
                <div class="bms_col bms_col3">
                    <div>bms_col-3</div>
                </div>
                <div class="bms_col bms_col3">
                    <div>
                        <p>bms_col-3</p>
                        <p>bms_col-3</p>
                        <p>bms_col-3</p>
                    </div>
                </div>
            </div>
            <xmp>
                <div class="bms_row bms_row_aicenter">
                    <div class="bms_col bms_col3">
                        <div>bms_col-3</div>
                    </div>
                    <div class="bms_col bms_col3">
                        <div>bms_col-3</div>
                    </div>
                    <div class="bms_col bms_col3">
                        <div>bms_col-3</div>
                    </div>
                    <div class="bms_col bms_col3">
                        <div>
                            <p>bms_col-3</p>
                            <p>bms_col-3</p>
                            <p>bms_col-3</p>
                        </div>
                    </div>
                </div>
            </xmp>
        </div>
        <div class="code_block">
            <fieldset>
                <legend>栅格-左右居中</legend>
            </fieldset>
            <div class="bms_row bms_row_lrcenter">
                <div class="bms_col bms_col1">
                    <div>bms_col-1</div>
                </div>
                <div class="bms_col bms_col11">
                    <div>bms_col-11</div>
                </div>
            </div>
            <xmp>
                <div class="bms_row bms_row_lrcenter">
                    <div class="bms_col bms_col1">
                        <div>bms_col-1</div>
                    </div>
                    <div class="bms_col bms_col11">
                        <div>bms_col-11</div>
                    </div>
                </div>
            </xmp>
        </div>
        <div class="code_block">
            <fieldset>
                <legend>栅格-栅格嵌套</legend>
            </fieldset>
            <div class="bms_row">
                <div class="bms_col bms_col6">
                    <div>
                        <p>bms_col-6</p>
                        <div class="bms_row">
                            <div class="bms_col bms_col6">
                                <div>bms_col-6</div>
                            </div>
                            <div class="bms_col bms_col6">
                                <div>bms_col-6</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bms_col bms_col6">
                    <div>bms_col-6</div>
                </div>
            </div>
            <xmp>
                <div class="bms_row">
                    <div class="bms_col bms_col6">
                        <div>
                            <p>bms_col-6</p>
                            <div class="bms_row">
                                <div class="bms_col bms_col6">
                                    <div>bms_col-6</div>
                                </div>
                                <div class="bms_col bms_col6">
                                    <div>bms_col-6</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bms_col bms_col6">
                        <div>bms_col-6</div>
                    </div>
                </div>
            </xmp>
        </div>
    </div>
</body>