<body>
    <style>
        .ja_col div {
            background: #ecf5ff;
            padding: 10px 0;
        }
        
        .ja_col:nth-of-type(2n) div {
            background: #f0f9eb;
        }
    </style>
    <div class="wrap">
        <div class="code_block">
            <fieldset>
                <legend>栅格</legend>
            </fieldset>
            <div class="ja_row">
                <div class="ja_col ja_col2">
                    <div>ja_col-2</div>
                </div>
                <div class="ja_col ja_col2">
                    <div>ja_col-2</div>
                </div>
                <div class="ja_col ja_col2">
                    <div>ja_col-2</div>
                </div>
                <div class="ja_col ja_col2">
                    <div>ja_col-2</div>
                </div>
                <div class="ja_col ja_col2">
                    <div>ja_col-2</div>
                </div>
                <div class="ja_col ja_col1">
                    <div>ja_col-1</div>
                </div>
                <div class="ja_col ja_col1">
                    <div>ja_col-1</div>
                </div>
            </div>
            <xmp>
                <div class="ja_row">
                    <div class="ja_col ja_col2">
                        <div>ja_col-2</div>
                    </div>
                    <div class="ja_col ja_col2">
                        <div>ja_col-2</div>
                    </div>
                    <div class="ja_col ja_col2">
                        <div>ja_col-2</div>
                    </div>
                    <div class="ja_col ja_col2">
                        <div>ja_col-2</div>
                    </div>
                    <div class="ja_col ja_col2">
                        <div>ja_col-2</div>
                    </div>
                    <div class="ja_col ja_col1">
                        <div>ja_col-1</div>
                    </div>
                    <div class="ja_col ja_col1">
                        <div>ja_col-1</div>
                    </div>
                </div>
            </xmp>
            <div class="ja_row">
                <div class="ja_col ja_col3">
                    <div>ja_col-3</div>
                </div>
                <div class="ja_col ja_col4">
                    <div>ja_col-4</div>
                </div>
                <div class="ja_col ja_col5">
                    <div>ja_col-5</div>
                </div>
            </div>
            <xmp>
                <div class="ja_row">
                    <div class="ja_col ja_col3">
                        <div>ja_col-3</div>
                    </div>
                    <div class="ja_col ja_col4">
                        <div>ja_col-4</div>
                    </div>
                    <div class="ja_col ja_col5">
                        <div>ja_col-5</div>
                    </div>
                </div>
            </xmp>
            <div class="ja_row">
                <div class="ja_col ja_col4">
                    <div>ja_col-4</div>
                </div>
                <div class="ja_col ja_col8">
                    <div>ja_col-8</div>
                </div>
            </div>
            <xmp>
                <div class="ja_row">
                    <div class="ja_col ja_col4">
                        <div>ja_col-4</div>
                    </div>
                    <div class="ja_col ja_col8">
                        <div>ja_col-8</div>
                    </div>
                </div>
            </xmp>
        </div>
        <div class="code_block">
            <fieldset>
                <legend>栅格-列间距</legend>
            </fieldset>
            <div class="ja_row ja_space10">
                <div class="ja_col ja_col5">
                    <div>ja_col-5</div>
                </div>
                <div class="ja_col ja_col7">
                    <div>ja_col-7</div>
                </div>
            </div>
            <xmp>
                <div class="ja_row ja_space10">
                    <div class="ja_col ja_col5">
                        <div>ja_col-5</div>
                    </div>
                    <div class="ja_col ja_col7">
                        <div>ja_col-7</div>
                    </div>
                </div>
            </xmp>
        </div>
        <div class="code_block">
            <fieldset>
                <legend>栅格-垂直居中</legend>
            </fieldset>
            <div class="ja_row ja_aicenter">
                <div class="ja_col ja_col3">
                    <div>ja_col-3</div>
                </div>
                <div class="ja_col ja_col3">
                    <div>ja_col-3</div>
                </div>
                <div class="ja_col ja_col3">
                    <div>ja_col-3</div>
                </div>
                <div class="ja_col ja_col3">
                    <div>
                        <p>ja_col-3</p>
                        <p>ja_col-3</p>
                        <p>ja_col-3</p>
                    </div>
                </div>
            </div>
            <xmp>
                <div class="ja_row ja_aicenter">
                    <div class="ja_col ja_col3">
                        <div>ja_col-3</div>
                    </div>
                    <div class="ja_col ja_col3">
                        <div>ja_col-3</div>
                    </div>
                    <div class="ja_col ja_col3">
                        <div>ja_col-3</div>
                    </div>
                    <div class="ja_col ja_col3">
                        <div>
                            <p>ja_col-3</p>
                            <p>ja_col-3</p>
                            <p>ja_col-3</p>
                        </div>
                    </div>
                </div>
            </xmp>
        </div>
        <div class="code_block">
            <fieldset>
                <legend>栅格-左右居中</legend>
            </fieldset>
            <div class="ja_row ja_lrcenter">
                <div class="ja_col ja_col1">
                    <div>ja_col-1</div>
                </div>
                <div class="ja_col ja_col11">
                    <div>ja_col-11</div>
                </div>
            </div>
            <xmp>
                <div class="ja_row ja_lrcenter">
                    <div class="ja_col ja_col1">
                        <div>ja_col-1</div>
                    </div>
                    <div class="ja_col ja_col11">
                        <div>ja_col-11</div>
                    </div>
                </div>
            </xmp>
        </div>
        <div class="code_block">
            <fieldset>
                <legend>栅格-栅格嵌套</legend>
            </fieldset>
            <div class="ja_row">
                <div class="ja_col ja_col6">
                    <div>
                        <p>ja_col-6</p>
                        <div class="ja_row">
                            <div class="ja_col ja_col6">
                                <div>ja_col-6</div>
                            </div>
                            <div class="ja_col ja_col6">
                                <div>ja_col-6</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ja_col ja_col6">
                    <div>ja_col-6</div>
                </div>
            </div>
            <xmp>
                <div class="ja_row">
                    <div class="ja_col ja_col6">
                        <div>
                            <p>ja_col-6</p>
                            <div class="ja_row">
                                <div class="ja_col ja_col6">
                                    <div>ja_col-6</div>
                                </div>
                                <div class="ja_col ja_col6">
                                    <div>ja_col-6</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ja_col ja_col6">
                        <div>ja_col-6</div>
                    </div>
                </div>
            </xmp>
        </div>
    </div>
</body>